input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
    border-radius: 10px;
}

.oibInput{
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
    border: 1px solid cornflowerblue;
    width: 200px;
    border-right: 0px;
    font-weight:bold;
    font-size : 1.2rem    
}


.oibContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.oibBtn{
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    border-left: 1px solid #89c6ff !important
}

.oibBtn:hover:hover{
    background-color: #1890ff !important;
    color: white
}

.newPersonInput{
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.newPersonForm{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.newPersonBtn{
    border-color: #22BB33 !important;
    color: #22BB33 !important;
    margin-top: 15px;
    width: 120px;
    text-align: center;    
}
.newPersonBtn:hover{
    background-color: #22BB33 !important;
    color: white !important;
}

.recyclation-form{
    display: flex;
    
}
#dynamic_form_item{
    display:flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;   
    
}


.ant-table-header{
    background: #f0f2f5 !important;
}
.ant-table{
    background: #f0f2f5;
    max-width: 100%;
    
}
.ant-table-wrapper {
    width:900px
}

@media only screen and (max-width: 937px){
    .ant-table{
        width: 600px;
        
    }
}



.ant-table-row:hover{
    cursor: pointer;
}


.ant-table {
    display: block;
  }
  @media screen and (max-width: 910px) {
    .ant-table-thead {
      display: none;
    }
    .ant-table-thead > tr th:first-of-type,
    .ant-table-tbody > tr th:first-of-type,
    .ant-table-thead > tr td:first-of-type,
    .ant-table-tbody > tr td:first-of-type {
      padding-top: 0.5rem;
    }
    .ant-table-tbody >tr:first-of-type{
        display: none;
    }

    .ant-table-thead > tr th:last-of-type,
    .ant-table-tbody > tr th:last-of-type,
    .ant-table-thead > tr td:last-of-type,
    .ant-table-tbody > tr td:last-of-type {
      padding-bottom: 1rem;
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > th,
    .ant-table-thead > tr > td,
    .ant-table-tbody > tr > td {
      display: block;
      width: auto !important;
      border: none;
      padding: 0 1rem;
      font-size: 1rem;
    }
    .ant-table-thead > tr > th:last-child,
    .ant-table-tbody > tr > th:last-child,
    .ant-table-thead > tr > td:last-child,
    .ant-table-tbody > tr > td:last-child {
        box-shadow: 1px 8px 5px -7px rgba(0, 0, 0, 0.322);
    }
    .ant-table-cell{
        text-align: center;
    }

    .ant-table-tbody > tr >td:first-of-type    
    {
        display: inline-block;
        width: 50% !important;
        text-align: right;
        padding-right: 4px !important;
    }
    .ant-table-tbody > tr >td:nth-of-type(2){
        display: inline-block;
        width: 50% !important;
        text-align: left;
        padding-left: 4px !important;
    }
    .ant-table-tbody > tr >td:last-of-type
    
    {
        padding-top: 0px !important;
    }

    .ant-table-cell >button{
        margin-left: 0px !important;
    }
    .ant-table-row:hover{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
  }

  
.natural-moving{
    transition: all 0.4s ease-in;
}